html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.page {
    height: 125vh;
    display: flex;
    flex-direction: column;
}

.page section {
    flex: 1;
}

.hero {
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar {
    color: #E5E7EB;
    font-size: 18px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    margin: 0 auto;
}

.left-hero-content {
    flex: 1;
}

.right-hero-content {
    background-color: grey;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    flex: 1;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: #F9FAF8;
    border-radius: 1em;
}

.overview-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.image-container {
    display: flex;
    max-width: 50%;
    gap: 25px;
    margin: 0 auto;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.box {
    border: 4px solid #3882F6;
    border-radius: 1em;
    height: 200px;
    width: 100%;
}

figcaption {
    font-size: 0.9rem;
    text-align: center;
    color: #555;
}

.testimonials {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.thor-quote {
    margin-bottom: 0;
}

.thor {
    display: flex;
    justify-content: flex-end;
    align-items: "first baseline";
    margin-top: 0;
    font-weight: 900;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cta-content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.cta-main-text {
    color: #F9FAF8;
    font-weight: 900;
}

.cta-secondary-text {
    color: #E5E7EB;
}

.cta-button {
    border: 2px solid #E5E7EB;
    padding: 10px 25px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}